html,
body {
  margin: 0px;
  color: #000;
  font-family: "Operator Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.content {
  min-height: 100vh;
  background-image: linear-gradient(
    15deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}
.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-align: center;
}
.navbar {
  min-width: 100vw;
}
.navbar span {
  padding: 14px 26px;
}
.brand {
  display: inline-block;
}
.navbar-menu {
  float: right;
}
.navbar-item {
  display: inline-block;
}
.footer {
  min-width: 100vw;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
}
.footer-item {
  padding: 16px;
}
